.title{
    height: 90px;
}
header{
    background-color: rgba(44, 62, 80, 1);

}

.start{
    background-color: rgba(26, 188, 156, 1);
    height: 490px;
    
}
.portfolio{
    height: 650px;
}
.about{
    height: 400px;
    background-color: rgba(26, 188, 156, 1);
}
p{
 max-width: 500px;
}
.contact{
    
    height: 670px;
}
.location{
    background-color:rgba(58, 84, 109, 1) ;
    height: 230px;
}
.copyright{
    background-color:rgba(44, 62, 80, 1) ;
    height: 80px;
}
hr{
    width: 120px;
    height: 4px !important;
    opacity: 1 !important;

}
input{
    border-top: none;
    border-left: none;
    border-right: none;
}

